@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap");

:root {
  ---warna-bg-kesatu: #f0ebe3;
  --warna-bg-kedua: #e4dccf;
  --warna-font-kesatu: #576f72;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins" sans-serif;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

/* navbar */

header {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50px;
  height: 90%;
  background-color: var(---warna-bg-kesatu);
  padding: 2.5rem 5px;
  margin: auto 1rem;
  border-radius: 25px;
  position: relative;
}

nav span {
  display: none;
}

.navbar-contains .navbar-hover {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-contains div:not(:first-child) {
  margin-top: 1.4rem;
}

nav i {
  font-size: 1.4rem;
  color: var(--warna-font-kesatu);
}

.open-close {
  cursor: pointer;
}

.open-close span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--warna-font-kesatu);
}

.open-close span:not(:first-child) {
  margin-top: 5px;
}

.navbar-hover,
.navbar-hover a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.span-hover {
  display: block;
  position: absolute;
  background-color: var(--warna-bg-kedua);
  width: 20px;
  height: 20px;
}

/* main */
