@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap");

:root {
  ---warna-bg-kesatu: #f0ebe3;
  --warna-bg-kedua: #e4dccf;
  --warna-font-kesatu: #576f72;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

/* navbar */

header {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50px;
  height: 90%;
  background-color: var(---warna-bg-kesatu);
  padding: 2.5rem 5px;
  margin: auto 1rem;
  border-radius: 25px;
  position: relative;
}

nav span {
  display: none;
}

.navbar-contains div:not(:first-child) {
  margin-top: 1.4rem;
}

nav i {
  font-size: 1.4rem;
  color: var(--warna-font-kesatu);
}

.open-close {
  cursor: pointer;
}

.open-close span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--warna-font-kesatu);
}

.open-close span:not(:first-child) {
  margin-top: 5px;
}

.nama-brand,
.navbar-contains div {
  position: relative;
  width: 90%;
  height: auto;
  display: flex;
  padding: 0.5rem 0;
  justify-content: center;
  border-radius: 5px;
}

.navbar-contains {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-close {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
}

.open-close {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: auto;
  padding: 0.5rem 0;
  border-radius: 5px;
}

.class-hover {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-navbar:hover {
  background-color: var(--warna-bg-kedua);
}

/* active */

.active header nav {
  width: 250px;
}

.active nav span {
  display: inherit;
}

.hover-navbar a {
  display: flex;
  align-items: center;
}
.active .hover-navbar {
  display: flex;
  justify-content: flex-start;
  padding-inline-start: 0.5rem;
}

.active .nama-brand,
.active .div-close .hover-navbar {
  display: flex;
  justify-content: flex-start;
  padding-inline-start: 0.5rem;
}

.active .open-close span:nth-child(2) {
  width: 0;
}

.active .open-close span:nth-child(3) {
  transform: translateY(-7px) rotate(90deg);
}
.active .open-close span:nth-child(1) {
  transform: translateY(7px);
}

.active .rotate {
  transform: rotate(45deg);
}

a span {
  margin-left: 0.5rem;
}

/* main */
